html{
    background-color:#6262A0 ;
}

.container{
    width:800px;
    background-color:#292947;
    border-radius:5px ;
    margin:0 auto ;
    padding: 30px;
}

label{color: white; font-family:cursive ;}

input[type=text]{
    width:790px ;
    border-radius:5px ;
    margin-bottom:15px ;
    height:30px ;
    padding:5px ;
}


input[type=email]{
    width:790px ;
    border-radius:5px ;
    margin-bottom:15px ;
    height:30px ;
    padding:5px ;
}




#select  {
    width:800px ;
    margin-bottom:15px ;
    border-radius:5px ;
    height:40px ;
    margin-top:10px ;
}

textarea{
    width:100% ;
    height:100px ;
    margin-bottom:5px ;
}

input[type=submit]{
    background-color:#37AF65;
    width:100% ;
    height:50px ;
    border:none;
    color: white;
    border-radius:5px ;
}